body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
    background-color: rgb(245, 245, 245);
}

.main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 150px;
    align-items: center;
    background-color: rgb(0, 128, 128);

}

.header-logo {
    border: none;
    background: inherit;
    font-size: 14px;
    font-family: inherit;
    padding: 8px;
    margin-left: 25px;
    cursor: pointer;
}

.header-logo img {
    width: 120px;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
}

.header-btn {
    margin-right: 25px;
    margin-left: 25px;
}

.header-btn button {
    border: none;
    background: inherit;
    font-size: 20px;
    font-family: inherit;
    padding: 8px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.header-btn button:hover {
    background-color: antiquewhite;
    border-radius: 8px;
    color: rgb(35, 35, 35);
}


.main-container {
    margin: 35px 25px 25px 25px;
    padding: 16px;
    border: 1px solid rgb(184, 184, 184);
    border-radius: 8px;
}

.channel-info {
    text-align: left;
    display: inline;
}

.channel-info h6 {
    font-weight: bold;
}

.channel-info p {
    text-align: right;
}


.user-image {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.user-image img {
    border-radius: 8px;
    object-fit: cover;
    align-items: center;
}


.tag-item p {
    margin-right: 5px;
    border: 3px solid rgb(129, 129, 129);
    border-radius: 8px;
    padding: 4px;
    text-align: center;
}

.card-img-top {
    height: 30vh;
}

.search {
    padding-top: 30px;
    padding-left: 10px
}

.category-container {
    display: inline-block;
    margin: auto;
    padding: 10px, 10px, 10px, 10px;
}

.category-item {
    float: left;
    padding: 5px, 5px, 5px, 5px;
    margin: 2px;
    background-color: rgb(150, 150, 150);
    border-radius: 8px;
}

a {
    color: white;
}


ul {
    color: #008080;
    list-style-type: none;
} 
li {
    list-style-type: none;
}

aside {
    padding-left: 10px;
    width: 100%;
    max-width: 300px;
    height: 500px;
    background:white;
    border-radius: 10px;
    
}

main {
    flex: 100%;
    height: 100%;
    width: 100%;
    background:#e9e9e9
}

.content-container {
    clear: both;
    position: relative; 
    padding-top: 20px;
}

.home-container{
    clear: both;
    width: auto;
    background: #f5f5f5;
    border: 3px solid #e9e9e9;
    padding: 35px 30px 25px 30px;
    margin-bottom: 8px;
    position: relative;
}

#profile-box{
    bottom: 100px;
    z-index: 9999;
    width: 500px;
    height: auto;
    display: inline;
}

.col-md-3 {
    float:left;
    display: inline-flex;
    justify-content: center;
    margin-top: 20px;
}

#feed_card {
    width: 100%;
}

.card-img-top {
        display:block;
        width:100%;
        height:auto;
}
