body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    margin: 120px 0;
}

.main-logo {
    text-align: center;
    font-size: 75px;
    font-weight: 800;
}

.signup-form {
    display: flex;
    flex-direction: column;
}

.signup-input {
    display: flex;
    flex-direction: column;
    height: 100px;
    font-size: 30px;
    margin-top: 24px;
}

.signup-input input {
    margin-top: 12px;
    height: 50px;
    font-size: 28px;
}


.tag-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px 20px;
    justify-content: flex-end;
    text-align: center;
}

.tag-input {
    display: flex;
    flex-direction: row-reverse;

}

.tag-input input {
    margin-right: 12px;
}

.signup-btn {
    display: flex;
    justify-content: end;
    margin: 12px 8px 0 0;
}

.signup-btn button {
    margin: 12px 6px;
    width: 80px;
    height: 40px;
    font-size: 17px;
    font-family: inherit;
}